/src/main/resource/generator/
/src/main/resource/application.yml
/src/main/resource/generatorConfig.xml
/target/
/.mvn/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/unpackage/
/.nb-gradle/
